<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Download Song</h1>
    <form action="/download" method="post">
        <label for="song_name">Song Name:</label><br>
        <input type="text" id="song_name" name="song_name" required><br><br>
        <label for="name_of_file">File Name:</label><br>
        <input type="text" id="name_of_file" name="name_of_file" required><br><br>
        <input type="submit" value="Download">
    </form>
</body>
</html>
